
/* Filter Container */
.filter-container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

.filter-container select,
.filter-container input {
  padding: 5px;
  font-size: 14px;
}

.filter-container button {
  padding: 8px 12px;
  font-size: 14px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.filter-container button:hover {
  background-color: #0056b3;
}

/* Table Styling */
.table-container {
  margin: 20px;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

td {
  font-size: 14px;
}

tr:hover {
  background-color: #f9f9f9;
}

/* Action Buttons */
.action-btn {
  padding: 8px;
  cursor: pointer;
  border: none;
  font-size: 16px;
}

.edit-btn {
  background-color: #007bff;
  color: white;
  margin-right: 5px;
}

.edit-btn:hover {
  background-color: #063a71;
}

.delete-btn {
  background-color: #dc3545;
  color: white;
}

.delete-btn:hover {
  background-color: #c82333;
}

/* Pagination Styling */
.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.page-button {
  padding: 8px 16px;
  margin: 0 5px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
}

.page-button:hover {
  background-color: #0056b3;
}

.page-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.page-button.active {
  background-color: #0056b3;
  font-weight: bold;
}

.page-button:first-child {
  border-radius: 5px 0 0 5px;
}

.page-button:last-child {
  border-radius: 0 5px 5px 0;
}

.lec-container h1 {
  text-align: center;
  color: #333;
  font-weight: bold;
  margin: 0;
  margin-bottom: 20px;
  font-size: 24px;
}

.lec-container img {
  padding-top: 80px;
  display: block;
  margin: 0 auto 20px auto;
  width: 100px;
}
